:root{
    --primary-color: #2c2b29;
    --primary-color-dark: #c9ab53;
    --secondary-color: #868282;
    --secondary-color-dark: #ee4141;
    --logo-color:#f7b605;
    --logo-color-black:#110a0a;
    
}